{
   "extends": "airbnb-base",
    "env": {
        "node": true,
        "mocha": true
    },
    "plugins": ["import"],
    "rules": {
        "comma-dangle": ["warn", "only-multiline"],
        "indent": [2, 2, {"SwitchCase": 1}],
        "import/no-extraneous-dependencies": 0,
        "object-curly-newline": 0,
        "prefer-promise-reject-errors": 0
    },
    "globals": {
      "expect": true
    }
}
